* {
  font-family:
  /*TODO choose a font for whole page*/
}

h1 {
  text-align: center;
}
h3 {
  text-align: center;
}



img {
  max-width: 100%;
}
/*rule for images to not exceed container width*/
