.document-header {
  border: 2px solid red;
  height: 540px;
}
#background-pic {

}

.header-section {
  max-width: 80%;
}
#profile-pic-div {
  margin-top: 50px;
}
#profile-pic {
  margin: 0 auto;
  border: 2px solid red;
}
@media only screen and (min-width: 640px) {
  .header-section {
    padding: .1em .1em .1em 2em;
    float: none;
  }
}
