
.icon-menu {
  float:right;
  height: 50px;
  width: 50px;
}
@media screen and (min-width: 0px) {
  .main-nav li {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .main-nav li {
    display: inline-block;
  }
  .icon-menu {
    display: none;
  }
}

.main-nav {
  /*TODO add images to links*/
}
