
.icon-menu {
  float:right;
  height: 50px;
  width: 50px;
  
}
@media screen and (min-width: 0px) {
  .main-nav li {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .main-nav li {
    display: inline-block;
  }
  .icon-menu {
    display: none;
  }
}

.main-nav {
  text-align: center;
}

#git-logo {
  height: 30px;
  width: 30px;
}

#home-logo {
  height: 30px;
  width: 30px;
}

#about-logo {
  height: 30px;
  width: 30px;
}
